<!-- <div ng-controller="safeCtrl"> -->
<!-- <div style="text-align:center" ng-app="myApp" ng-controller="safeCtrl"> -->
<head>
  <meta name="description" content="Angular template" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="https://rawgit.com/lorenzofox3/Smart-Table/master/dist/smart-table.min.js"></script>
  <meta charset="utf-8">
</head>  
<div ng-app="myApp" ng-controller="safeCtrl">
<table st-table="displayedCollection" st-safe-src="items" class="table table-striped">
	<thead>
      <tr>
          <th colspan="0.2"><input st-search="" class="form-control" placeholder="Filtra por cualquier caracteristica" type="text"/></th>
        </tr>
	<tr>
		<th st-sort>Marca</th>
		<th st-sort="Chasis">Características</th>
		<th st-sort="getters.GAS">Combustible (L)</th>
		<th st-sort="Photo">Foto</th>
    <th st-sort="Precio"> Precio</th>
    <th st-sort="TopSpeedKmh" st-skip-natural="true">Top speed</th>
	</tr>
	</thead>
	<tbody>
    <tr ng-repeat="row in displayedCollection">
  <!-- <tr st-select-row="row" st-select-mode="multiple" *ngFor="let item of items | async"> -->
    <td><img src={{item.LogoMarca}} height="32" width="128"></td>
    <td>
      <p>{{item.Serie}} {{item.Cabina}}</p>
      <p>{{item.Engine}}</p>
      <p>{{item.Chasis}}</p>
      <p>{{item.ParMotor}}</p>
      <p>{{item.CajaDeCambios}}</p>
    </td>
    <td>{{item.GAS}}</td>
    <td><img src={{item.Photo}}></td>
    <td>{{item.Precio | currency:'EUR':ES-es}}</td>
    <td>{{item.TopSpeedKmh}}</td>
  </tr>
	</tbody>
</table>

</div>

<script>
    //var app = angular.module('myApp',['smart-table']);

    app.controller('safeCtrl', ['$scope', function ($scope) {
// scope.rowCollection = [
//     {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
//     {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
//     {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
// ];

$scope.getters={
  GAS: function (value) {
        //this will sort by the length of the first name string
        $scope.value.GAS;
    }
}
}]);
//app.controller('selectionCtrl', ['$scope', '$filter', function (scope, filter) {}]);

</script>