<h1>Consejos</h1>
 <p>En esta sección os he recopilado todas las preguntas que me hice al empezar a jugar a este juego.</p>

 <collapsible-list [type]="'expandable'">
  
  <collapsible-list-item>
    <collapsible-header class="waves-effect">Item #1</collapsible-header>
    <collapsible-body [expanded]="false"><p>Item #1 Body</p></collapsible-body>
  </collapsible-list-item>
 
  <collapsible-list-item>
    <collapsible-header class="waves-effect">Item #2</collapsible-header>
    <collapsible-body [expanded]="false"><p>Item #2 Body</p></collapsible-body>
  </collapsible-list-item>
 
</collapsible-list>